<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->

    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap-table.css" th:href="@{/css/bootstrap-table.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap-table-filter-control.css"
          th:href="@{/css/bootstrap-table-filter-control.css}"/>
    <link href="/css/bootstrap-editable.css" type="text/css"
          rel="stylesheet" th:href="@{/css/bootstrap-editable.css}"/>
    <!-- Optional theme-->
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/datetimepicker.css" th:href="@{/css/datetimepicker.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrapValidator.css"  th:href="@{/css/bootstrapValidator.css}"/>
    <title>样衣管理系统</title>
</head>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap/bootstrap-table.js"></script>
<script src="/js/bootstrap/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/bootstrap/bootstrap-table-filter-control.js"></script>
<script src="/js/bootstrap/bootstrap-editable.js"></script>
<script src="/js/bootstrap/bootstrap-table-editable.js"></script>
<script src="/js/bootstrap/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap/locale/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bootstrap/bootstrapValidator.js"></script>

<body>

<div class="container">
    <h2>样衣管理系统</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li  th:each="year : ${navilist}">
            <a  th:with="isActive=(${year}==${ActiveYear})" th:class="${isActive}?'nav-link active': 'nav-link'"
                th:href="@{'/home/' + ${year}}" th:text="${year}"></a>
        </li>

        <li class="dropdown pull-right"><a href="#"
                                           data-toggle="dropdown" class="dropdown-toggle">管理<strong
                class="caret"></strong></a>
            <ul class="dropdown-menu">
                <li><a href="/artist">人员管理</a></li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a href="/admin/user">用户管理</a></li>
                <li><a href="#" data-toggle="modal" data-target="#ChangePasswordModal">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="/logout">注销</a></li>
            </ul></li>
    </ul>
    <div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ChangePasswordModalLabel">修改密码</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="password-modal-form">
                        <div class="form-group">
                            <label for="pass" class="form-control-label">新密码</label>
                            <div class="controls">
                                <input type="password" class="form-control" id="pass" name="pass">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="form-control-label">再次输入密码</label>
                            <div class="controls">
                                <input type="password" class="form-control" id="confirm" name="confirm"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" name="subpass" id="subpass">确认</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
<br>
        <div id="querybar">
            <div class="form-inline" role="form">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </button>
                        <select name="condition"
                                class="form-control">
                            <option value="0" selected>入库</option>
                            <option value="1">售出</option>
                        </select>

                    </div>
                <div class="form-group form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </button>
                    <input name="start" class="form-control"
                           type="text" id="start_date"   th:placeholder=@{${ActiveYear}+'-01-01'}>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                    <input name="end" class="form-control"
                           type="text" id="end_date"  th:placeholder=@{${ActiveYear}+'-12-31'}>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </button>
                    <select name="status" class="form-control" type="text">
                        <option value="">请选择</option>
                        <option value="库存">库存</option>
                        <option value="售出">售出</option>
                        <option value="退货">退货</option>
                        <option value="赠送">赠送</option>
                        <option value="复色">复色</option>
                        <option value="贴牌">贴牌</option>
                        <option value="合作">合作</option>
                        <option value="处理">处理</option>
                    </select>

                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                    <input name="keyword" class="form-control" type="text"
                           placeholder="张三">
                </div>

                <div class="form-group">
                    <input name="year" class="form-control"
                           type="hidden" id="activeyear"  th:value=@{${ActiveYear}}>
                </div>
                <div class="form-group">
                    <button id="ok" type="submit" class="btn btn-default">查询</button>
                </div>

            </div>
            <div id="toolbar">

                <button id="delbtn" class="btn  btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">删除</button>

                <button id="addbtn" class="btn  btn-success" data-toggle="modal" data-target="#exampleModal">
                    新增样衣
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增样衣</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="modal-form">
                                    <div class="form-group">
                                        <label for="cid" class="form-control-label">样衣编号</label>
                                        <input type="text" class="form-control" id="cid" name="cid">
                                    </div>
                                    <div class="form-group">
                                        <label for="clothtype" class="form-control-label">样衣类型</label>
                                        <select  class="form-control" id="clothtype">
                                            <option value="羽绒服">羽绒服</option>
                                            <option value="棉衣">棉衣</option>
                                            <option value="风衣">风衣</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="create_date" class="form-control-label">入库日期</label>
                                        <input type="text" class="form-control" id="create_date" name="create_date" th:value="${cd}">
                                    </div>
                                    <div class="form-group">
                                        <label for="designer" class="form-control-label">设计师</label>
                                        <select  class="form-control" id="designer" name="designer">
                                            <option   th:each="c:${designlist}"  th:value="${c.workerName}"
                                                      th:text="${c.workerName}" ></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="model" class="form-control-label">版师</label>
                                        <select  class="form-control" id="model" name="model">
                                            <option   th:each="c:${modellist}"  th:value="${c.workerName}"
                                                      th:text="${c.workerName}" ></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sample" class="form-control-label">样衣师</label>
                                        <select  class="form-control" id="sample" name="sample">
                                            <option   th:each="c:${samplelist}"  th:value="${c.workerName}"
                                                      th:text="${c.workerName}" ></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="origin" class="form-control-label">产地</label>
                                        <select  class="form-control" id="origin" name="origin">
                                            <option value="北京">北京</option>
                                            <option value="杭州">杭州</option>
                                            <option value="柯桥">柯桥</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="subsample">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-editable-emptytext="-"
               data-query-params="queryParams">
        </table>

</div>
<script type="text/javascript" src="/js/password.js"></script>
<script>
 $('#ChangePasswordModal').on('hidden.bs.modal', function(){
   $('#pass').val("");
   $('#confirm').val("");
   $('#password-modal-form').bootstrapValidator('resetForm', true);
   });
</script>
<script>
 $('#exampleModal').on('hidden.bs.modal', function(){
   $('#cid').val("");
   $('#modal-form').bootstrapValidator('resetForm', true);
   });
</script>
<script type="text/javascript">

    $(function () {
        $('#modal-form').bootstrapValidator({
　　　　　　　　message: 'This value is not valid',
            　feedbackIcons: {
                　　　　　　　　valid: 'glyphicon glyphicon-ok',
                　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                　　　　　　　　validating: 'glyphicon glyphicon-refresh'
            　　　　　　　　   },
            fields: {
                cid: {
                    message: '样衣编号验证失败',
                    validators: {
                        notEmpty: {
                            message: '样衣编号不能为空'
                        },
						stringLength : {
							min : 2,
							message : '样衣编号长度必须大于2'
						},
						regexp: {
                            regexp: /^[a-zA-Z0-9_\.\-]+$/,
                            message: '样衣编号只能是字母数字和-的组合'
						 },
                        remote: {
                            type: 'POST',
                            contentType: 'application/json;charset=utf-8',
                            url: '/ValidateCid',
                            dataType: 'json',
                            data: JSON.stringify({
                                cid:  $('#cid').val()
                            }),
                            message: '样衣编号重复'
                        }
                    }
                }
            }
        });
    })
</script>
<script type="text/javascript">
//$("#exampleModal").modal({backdrop:false});
$(document).ready(function(){

$("#subsample").click(function(e){
if($('#modal-form').data('bootstrapValidator').isValid()){
    var params = {};
    $('#modal-form').find('input[id]').each(function () {
        params[$(this).attr('id')] = $(this).val();
    });
   $('#modal-form').find('select[id]').each(function () {
        params[$(this).attr('id')] = $(this).val();
    });
     $.ajax({
                url: "/AddSample",
                contentType: "application/json;charset=utf-8",
                dataType : 'json',
                type: "POST",
                data : JSON.stringify(params),
                success: function(data){
                    $("#modal-form").data("bootstrapValidator").resetForm(true);
                    $("#exampleModal").modal('hide');
                    var $parent =  $('#table');
                     $parent.bootstrapTable('refresh');
                },
                error:function(){
                    alert("出错了");
                    $("#modal-form").data("bootstrapValidator").resetForm(true);
                    $("#exampleModal").modal('hide');
                }
            });
       //$("#exampleModal").data("bootstrapValidator");
     }else{
		alert("校验失败");}
	}
	);

 });
 $("#exampleModal").on("hidden.bs.modal", function() {

  $(this).removeData("bs.modal");

});
var $calendar = {
  	language: 'zh-CN',
      format: "yyyy-mm-dd",
      autoclose: true,
      todayBtn: true,
      minView: 'month'
  };
  $("#start_date").datetimepicker($calendar);

  $("#end_date").datetimepicker($calendar);

  $("#create_date").datetimepicker($calendar);

</script>
<div th:switch="${#authorization.expression('hasRole(''ADMIN'')')}">
    <script th:case="true" src="/admin/js/admin.js"> </script>
    <script th:case="false" src="/js/user.js"> </script>
</div>

</body>
</html>
