<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->

    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/bootstrap-table.css" th:href="@{/css/bootstrap-table.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/bootstrap-table-filter-control.css"
          th:href="@{/css/bootstrap-table-filter-control.css}"/>
    <link href="/css/bootstrap/bootstrap-editable.css" type="text/css"
          rel="stylesheet" th:href="@{/css/bootstrap-editable.css}"/>
    <!-- Optional theme-->
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/datetimepicker.css" th:href="@{/css/datetimepicker.css}"/>
    <title>样衣管理系统</title>
</head>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap/bootstrap-table.js"></script>
<script src="/js/bootstrap/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/bootstrap/bootstrap-table-filter-control.js"></script>
<script src="/js/bootstrap/bootstrap-editable.js"></script>
<script src="/js/bootstrap/bootstrap-table-editable.js"></script>
<script src="/js/bootstrap/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap/locale/bootstrap-datetimepicker.zh-CN.js"></script>
<body>

<div class="container">
    <h4>样衣管理系统</h4>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li  th:each="year : ${navilist}">
            <a  th:with="isActive=(${year}==${ActiveYear})" th:class="${isActive}?'nav-link active': 'nav-link'"
                th:href="@{'/home/' + ${year}}" th:text="${year}"></a>
        </li>

        <li class="dropdown pull-right"><a href="#"
                                           data-toggle="dropdown" class="dropdown-toggle">管理<strong
                class="caret"></strong></a>
            <ul class="dropdown-menu">
                <li><a href="./index2017.jsp">人员管理</a></li>
                <li><a href="./index2016.jsp">用户管理</a></li>
                <li><a href="../admin/changepass.jsp">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="../LogoutServlet">注销</a></li>
            </ul></li>
    </ul>

<br>
        <div id="querybar">
            <div class="form-inline" role="form">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </button>
                        <select name="condition"
                                class="form-control">
                            <option value="0" selected>入库</option>
                            <option value="1">售出</option>
                        </select>

                    </div>
                <div class="form-group form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </button>
                    <input name="start" class="form-control"
                           type="text" id="start_date"   th:placeholder=@{${ActiveYear}+'-01-01'}>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                    <input name="end" class="form-control"
                           type="text" id="end_date"  th:placeholder=@{${ActiveYear}+'-12-31'}>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </button>
                    <select name="status" class="form-control" type="text">
                        <option value="">请选择</option>
                        <option value="库存">库存</option>
                        <option value="售出">售出</option>
                        <option value="退货">退货</option>
                        <option value="赠送">赠送</option>
                        <option value="复色">复色</option>
                        <option value="贴牌">贴牌</option>
                        <option value="合作">合作</option>
                    </select>

                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                    <input name="keyword" class="form-control" type="text"
                           placeholder="张三">
                </div>

                <div class="form-group">
                    <input name="year" class="form-control"
                           type="hidden" id="activeyear"  th:value=@{${ActiveYear}}>
                </div>
                <div class="form-group">
                    <button id="ok" type="submit" class="btn btn-default">OK</button>
                </div>

            </div>
            <div id="toolbar">
                <button id="delbtn" class="btn  btn-primary">删除</button>
                <button id="addbtn" class="btn  btn-success">新增样衣</button>
            </div>
        </div>

        <table id="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-editable-emptytext="-"
               data-query-params="queryParams">
        </table>

</div>


<script type="text/javascript">
  $("#start_date").datetimepicker({
  	language: 'zh-CN',
      format: "yyyy-mm-dd",
      autoclose: true,
      todayBtn: true,
      minView: 'month'
  });

  $("#end_date").datetimepicker({
  	language: 'zh-CN',
      format: "yyyy-mm-dd",
      autoclose: true,
      todayBtn: true,
      minView: 'month'
  });



</script>


<script  th:inline="javascript">
// var year = [[${ActiveYear}]];

$(function () {
	$('#table').bootstrapTable({
		locale:'zh-CN',
        ajax : function (request) {
                $.ajax({
                    type : "post",
                    url : "/GetSamples",
                    contentType: "application/json;charset=utf-8",
                    dataType : 'json',
                    data : JSON.stringify(queryParams()),
                    success : function (msg) {
                        request.success({
                            row : msg
                        });
                        $('#table').bootstrapTable('load', msg);
                    },
                    error:function(){
                        //alert("错误");
                    }
                });
            },

		cache:'false',
		pagination:'true',
		sidePagination: 'client',
		clickToSelect: true,
        pageNumber: 1,
        pageSize: 25,
        pageList: [10, 25, 50, 100],
        striped: true,
        sortName:'cid',
		sortOrder: 'desc',
		height: 680,
        uniqueId: 'cid',
        cardView: false,
        detailView: false,
        columns: [
 		{
			field: 'state',
			checkbox: true
 		},
 		{
 			field: 'id',
 			title: '序号',
 			formatter: function(value, row,index)
 			{
 				return index +1;
 			}
 		},
        {
            field: 'cid',
            title: '样衣编号',
            sortable: true,
            sorter:
            	function priceSorter(a, b) {
            	var tmp1 = a.substring(0,2);
            	var tmp2 = b.substring(0,2);
                if (tmp1 > tmp2) return 1;
                if (tmp1 < tmp2) return -1;
                a = a.substring(2,5);
                b = b.substring(2,5);

                var n1 = parseInt(a);
                var n2 = parseInt(b);
                if (!isNaN(n1) && !isNaN(n2))
                {
                	if (n1 > n2) return 1;
                	if (n1 < n2) return -1;
                }

                n1 = parseInt(a.substring(5));
                n2 = parseInt(a.substring(5));
                if (!isNaN(n1) && !isNaN(n2))
                {
                	if (n1 > n2) return 1;
                	if (n1 < n2) return -1;
                }
                return 0;
            }
        },
        {
            field: 'type',
            title: '样衣类型',
            sortable: false
        },
        {
            field: 'designer',
            title: '设计师',
            sortable: false
        },
        {
            field: 'model',
            title: '版师',
            sortable: false
        },
        {
            field: 'sample',
            title: '样衣师',
            sortable: false
        },
        {
            field: 'origin',
            sortable: true,
            title: '产地'
        },
        {
            field: 'status',
            sortable: true,
            sorter: function(a,b){return a.localeCompare(b)},
            title: '状态'
        },
        {
            field: 'start_date',
            title: '入库时间',
            sortable: true,
            sorter: function(a,b){
            	var tmp1 = a.substring(0,4);
            	var tmp2 = b.substring(0,4);
                if (tmp1 > tmp2) return 1;
                if (tmp1 < tmp2) return -1;
                n1 = a.substring(5,7);
                n2 = b.substring(5,7);
                if (n1 > n2) return 1;
                if (n1 < n2) return -1;

                n1 = a.substring(8);
                n2 = b.substring(8);
                if (n1 > n2) return 1;
                if (n1 < n2) return -1;
                return 0;
            }
        },
        {
            field: 'customer',
            title: '客户'
        },
        {
            field: 'end_date',
            sortable: true,
            sorter: function(a,b){
            	if (a === null || a === undefined || a === '') {
            		 a = '-';
            		}
            	if (b === null || b === undefined || b === '') {
           		 b = '-';
           		}
            	if((a.substring(0,1)=='-') &&
            			(b.substring(0,1)!='-'))
            		return -1;
            	if((b.substring(0,1)=='-') &&
            			(a.substring(0,1)!='-'))
            		return 1;
            	var tmp1 = a.substring(0,4);
            	var tmp2 = b.substring(0,4);

                if (tmp1 > tmp2) return 1;
                if (tmp1 < tmp2) return -1;
                n1 = a.substring(5,7);
                n2 = b.substring(5,7);
                if (n1 > n2) return 1;
                if (n1 < n2) return -1;

                n1 = a.substring(8);
                n2 = b.substring(8);
                if (n1 > n2) return 1;
                if (n1 < n2) return -1;
                return 0;
            },
            title: '出库时间'

        },
        {
            field: 'comment',

            title: '备注'
        }]


	});
	$('#addbtn').click(function (){window.location.href="add.jsp";});
});
var $table = $('#table');
var $ok = $('#ok');
var $delbutton = $('#delbtn');
$(function () {
    $ok.click(function () {
        document.getElementById("activeyear").value="";
        $table.bootstrapTable('refresh');
    });
});

function queryParams() {
    var params = {};
    $('#querybar').find('input[name]').each(function () {
        params[$(this).attr('name')] = $(this).val();
    });
    $('#querybar').find('select[name]').each(function () {
        params[$(this).attr('name')] = $(this).val();
    });
    return params;
}

function responseHandler(res) {
    return res.rows;
}




</script>

</body>
</html>
